// Z-Indexes
$z-index: (
    background,
    content
);

// Colors
$red:   #A6192E;
$white: #FFF;
$black: #000;
$light-gray: #dedede;
$dark-gray: #a6a6a6;


// Mixins
.white-box {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

// Breakpoints
$phone: 640px;
$phone-landscape: 650px;
$tablet: 768px;
$desktop: 960px;