<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/main-header.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/json/manifest.json">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#a6192d">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="msapplication-config" content="/assets/xml/browserconfig.xml">
    <meta name="theme-color" content="#a6192d">
    <meta name="description" content="Colin Lord is a Front End Developer. He has spent the last decade working primarily in the music and healthcare industries.">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700" rel="stylesheet">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Colin Lord.com">
    <meta itemprop="description" content="Colin Lord is a Front End Developer. He has spent the last decade working primarily in the music and healthcare industries.">
    <meta itemprop="image" content="https://colinlord.com/assets/images/meta-image.jpg">
    
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://colinlord.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Colin Lord.com">
    <meta property="og:description" content="Colin Lord is a Front End Developer. He has spent the last decade working primarily in the music and healthcare industries.">
    <meta property="og:image" content="https://colinlord.com/assets/images/meta-image.jpg">
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Colin Lord.com">
    <meta name="twitter:description" content="Colin Lord is a Front End Developer. He has spent the last decade working primarily in the music and healthcare industries.">
    <meta name="twitter:image" content="https://colinlord.com/assets/images/meta-image.jpg">
  </head>
  <body>

    <div class="wrapper">
      
      <div class="background"></div>
      
      <div class="container">
      
        <div class="about">
          <div class="about__photo">
            <picture>
              <source srcset="/assets/images/me-1x.jpg, /assets/images/me-2x.jpg 2x">
              <img src="/assets/images/me-1x.jpg" alt="">
            </picture>
          </div>
          
          <div class="about__profile">
            <div class="hello"><span>Hello</span></div>
            <h1 class="name"><span>I'm</span> Colin Lord</h1>
            <h2 class="title">Front End Developer</h2>
            <ul class="list">
              <li>
                <span class="list__title">Company</span>
                <span class="list__content"><a href="http://modea.com/">Modea</a></span>
              </li>
              <li>
                <span class="list__title">Lives In</span>
                <span class="list__content">Blacksburg, Virginia</span>
              </li>
              <li>
                <span class="list__title">Hometown</span>
                <span class="list__content">Atlanta, Georgia</span>
              </li>
              <li>
                <span class="list__title">Email</span>
                <span class="list__content"><a href="mailto:hello@colinlord.com">hello@colinlord.com</a></span>
              </li>
              <li>
                <span class="list__title">Phone</span>
                <span class="list__content"><a href="tel:4044940255">(404) 494-0255</a></span>
              </li>
              <li>
                <span class="list__title">College</span>
                <span class="list__content">Florida State University</span>
              </li>
            </ul>
          </div>
          
          <div class="about__social">
            <ul>
              <li><a href="http://twitter.com/colinlord" title="Twitter"><svg><use xlink:href="#svg-twitter"></use></svg></a></li>
              <li><a href="http://linkedin.com/in/colinlord" title="LinkedIn"><svg><use xlink:href="#svg-linkedin"></use></svg></a></li>
              <li><a href="http://instagram.com/colinlord" title="Instagram"><svg><use xlink:href="#svg-instagram"></use></svg></a></li>
              <li><a href="http://codepen.com/colinlord" title="CodePen"><svg><use xlink:href="#svg-codepen"></use></svg></a></li>
              <li><a href="http://speakerdeck.com/colinlord" title="Speaker Deck"><svg><use xlink:href="#svg-speakerdeck"></use></svg></a></li>
              <li><a href="https://www.drupal.org/u/colinlord" title="Drupal"><svg><use xlink:href="#svg-drupal"></use></svg></a></li>
              <li><a href="https://www.strava.com/athletes/colinlord" title="Strava"><svg><use xlink:href="#svg-strava"></use></svg></a></li>
              <li><a href="https://www.snapchat.com/add/colinlord/" title="Snapchat"><svg><use xlink:href="#svg-snapchat"></use></svg></a></li>
              <li><a href="https://open.spotify.com/user/colinlord" title="Spotify"><svg><use xlink:href="#svg-spotify"></use></svg></a></li>
              <li><a href="https://www.last.fm/user/clordatl" title="Last.fm"><svg><use xlink:href="#svg-lastfm"></use></svg></a></li>
              <li><a href="https://foursquare.com/colinlord" title="Foursquare"><svg><use xlink:href="#svg-foursquare"></use></svg></a></li>
              <li><a href="https://account.xbox.com/en-US/profile?gamertag=clordatl" title="Xbox"><svg><use xlink:href="#svg-xbox"></use></svg></a></li>
              <li><a href="https://www.youtube.com/c/colinlord" title="YouTube"><svg><use xlink:href="#svg-youtube"></use></svg></a></li>
            </ul>
          </div>
          
        </div>
      
      </div>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  </body>
  
  {% include svg.html %}
  {% include analytics.html %}
  
  <script src="{{ '/assets/js/main-footer.js' | relative_url }}"></script>
  
</html>
